<?xml version="1.0" encoding="UTF-8" standalone="no"?><GameServer><database><username>root</username><password>amd572</password><host>127.0.0.1</host><db>ddmhkorean</db><driver>mysql-connector-java-5.0.8-bin.jar</driver></database><server><port>11000</port></server><lobby><cdpPort>10002</cdpPort><lobbyPort>10000</lobbyPort></lobby><Logging><logWriteLevel>warning</logWriteLevel><logOutputLevel>info</logOutputLevel><logFile>Error.log</logFile><logLobby>no</logLobby></Logging></GameServer>